<header>
  <nav class="main-navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/students">Students</a></li>
      <li><a href="/courses">Courses</a></li>

    </ul>
  </nav>
</header>