<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Courses and students</h1>

     <div class="tableList">
        <%- include('partials/dataTables')  %>
     </div>



  </main>  
  <%- include('partials/footer') %>