<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Courses information</h1>
  

     <div class="tableList">
        <%- include('partials/tableCourses')  %>
     </div>



  </main>  
  <%- include('partials/footer') %>