<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Info about Students</h1>

     <div class="tableList">
        <%- include('partials/tableStudents')  %>
     </div>


  </main>  
  <%- include('partials/footer') %>